= form_for @verification do |f|
  - if @verification.errors.any?
    #error_explanation
      %h2= "#{pluralize(@verification.errors.count, "error")} prohibited this verification from being saved:"
      %ul
        - @verification.errors.full_messages.each do |msg|
          %li= msg

  %div#name
    %p
      = f.label :name
      = f.text_field :name

  .actions
    = f.submit 'Verify'
