= render 'form'
- if @verification && @verification.name.present?
  - if @verification.available?
    %p
      = "The domain '#{@verification.name}' is available!"
      - if current_user
        = button_to 'Reserve!', domains_path(domain_name: @verification.name)
  - else
    %p
      = "The domain '#{@verification.name}' is unavailable =/"
