- if @domains.any?
  %table
    %thead
      %tr
        %th Name

    %tbody
      - @domains.each do |domain|
        %tr
          %td= domain.name
          %td= link_to 'Destroy', domain, :method => :delete, :data => { :confirm => 'Are you sure?' }
- else
  %h3 There is no reserved domain
